.container {
    display: flex; /* Use Flexbox to create a row layout */
  }
  
  .col-md-3 {
    /* Adjust the width of the sidebar column as needed */
    flex: 0 0 200px; /* Fixed width for the sidebar */
  }
  
  .col-md-9 {
    /* The content area takes up the remaining space */
    flex: 1; 
    padding-left: 0px; /* Add left padding to move content closer to the sidebar */

  }